[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
!Tests/AsobiCore.NET/Asobi.Core.Tests.csproj
*.sln
*.suo
bin/
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.vsconfig
.idea/
erl_crash.dump
CLAUDE.md
.tool-versions
